$screen-sm: 560px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1200px;

$space: 20px;
$space-half: $space / 2;
$space-double: $space * 2;
$space-triple: $space * 3;
$space-quad: $space * 4;

@mixin screen-sm-up { @media (min-width: #{$screen-sm}) {@content;} } 
@mixin screen-md-up { @media (min-width: #{$screen-md}) {@content;} } 
@mixin screen-lg-up { @media (min-width: #{$screen-lg}) {@content;} } 
@mixin screen-xl-up { @media (min-width: #{$screen-xl}) {@content;} } 

@mixin screen-xs-only { @media (max-width: #{$screen-sm}) {@content;} } 
@mixin screen-sm-down { @media (max-width: #{$screen-md - 1}) {@content;} } 